<!-------------------------------- BANNER -------------------------------->

<section id="banner">
    <a id="slot1" data-position="1" href=""><%= image_tag "banners/alice.jpg", size: "1088x672", alt: "placeholder" %></a>
</section> <!-- id: banner -->

<!-------------------------------- SEASONS -------------------------------->

<section id="seasons">
    <li class="block">
        <a href="">
            <%= image_tag "season/jennifer-aniston.jpg", size: "250x300", alt: "Jennifer Aniston" %>
            <h2>Summer</h2>
        </a>
    </li>
    <li class="block">
        <a href="">
            <%= image_tag "season/jessica-alba.jpg", size: "250x300", alt: "Jessica Alba" %>
            <h2>Autum</h2>
        </a>
    </li>
    <li class="block">
        <a href="">
            <%= image_tag "season/kim-kardashian.jpg", size: "250x300", alt: "Kim Kardashian" %>
            <h2>Winter</h2>
        </a>
    </li>
    <li class="block">
        <a href="">
            <%= image_tag "season/mila-kunis.jpg", size: "250x300", alt: "Mila Kunis" %>
            <h2>Spring</h2>
        </a>
    </li>
</section> <!-- id: seasons -->

<!-------------------------------- CONTENT -------------------------------->

<section id="content" style="display: none">
    <h1>Colour Consulting</h1>
    <ul>
        <li>Which colours compiments your skin tone, eyes and hair?</li>
        <li>What season are you?</li>
        <li>What colour combinations and contrasts work bet for you?</li>
        <li>Do you feel better some days more than other when you look in the mirror?</li>
    </ul>
    <p>May its to do with the colours you are wearing. Some colours make us look healthier, thinner, younger than others.</p>
    <p>We all have different colours that flatter us more than others depending on our hair colour, eye colour and skin tone</p>
    <p>Save time and money when shopping for that new dress or outfit by make the correct choice, and being total happy in your purchase.</p>
    <p>You can purchase your very own seasonal wardrobe wallet to keep in your hang bag when your shopping for cloth makeup, jewellery and accessories.</p>
</section> <!-- id: content -->